/* .input-group-text {
    font-size: 1rem;
    color: #ccc;
  }
  
  .fa-search {
    font-size: 0.8rem;
  } */
  




  
   .card {
    width: 18rem;
    height: 14rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 1.5rem;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    background-color: #2c3e50;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  .card-body {
    padding: 1rem;
    font-size: 1.1rem;
  }
  
  .card-body p {
    margin-bottom: 0.5rem;
  }
  
  .card-body p b {
    font-weight: bold;
  }
  
  .card-body p span {
    font-weight: bold;
    color: #007bff;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
      margin: 1rem 0;
    }
  }
  
  .doctor-list-container {
    width: 61rem;
    height: 400px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 992px) {
    .doctor-list-container {
      width: 60rem;
      height: 30rem;
      overflow: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .doctor-list-container {
      width: 100%;
      height: auto;
      display: block;
      overflow: hidden;
    }
  
    .card {
      width: 100%;
      height: auto;
      margin: 1rem 0;
    }
  }
  
  /* Add more colors */
  .card:nth-child(2n) {
    background-color: #fff;
  }
  
  .card:nth-child(3n) {
    background-color: #f5f5f5;
  }
  
  .card:nth-child(4n) {
    background-color: #e6e6e6;
  }
  
  .card-header:nth-child(2n) {
    background-color: #2c3e50;
  }
  
  .card-header:nth-child(3n) {
    background-color: #34495e;
  }
  
  .card-header:nth-child(4n) {
    background-color: #2c3e50;
  }
  
  .card-body:nth-child(2n) {
    background-color: #f0f0f0;
  }
  
  .card-body:nth-child(3n) {
    background-color: #e6e6e6;
  }
  
  .card-body:nth-child(4n) {
    background-color: #f5f5f5;
  }
  
  .card-body p span {
    font-weight: bold;
    color: #ff5733;
  }
  